<%= form_for(@user, url:"/users/#{@user.id}/update", html:{method: "post"}) do |f| %>
  <p>ユーザー名</p>
  <%= f.text_field :name, value:@user.name %>
  <p>メールアドレス</p>
  <%= f.text_field :email, value:@user.email %>
  <p>プロフィール画像</p>
  <%= f.file_field :avatar, value:@user.avatar%>
  <%= f.submit "保存"%>
<% end %>
