<h2><%= @user.name %></h2>
<p><%= @user.email %></p>

<p><% if @user.id == @current_user.id %>
  <%= link_to("編集" , "/users/#{@user.id}/edit") %>
<% end %>
</p>
<% @user.posts.each do |post| %>
  <%= link_to(post.user.name, "/users/#{post.user.id}")%>
  <p><%= post.task %><%= post.task_type %></p>
<% end %>

<% @bookmark_posts.each do |post| %>
  <hr>
  <span>ブックマーク内容: </span>
  <p><%= link_to(post.user.name, "/users/#{post.user.id}")%></p>
  <p><%= post.task %><%= post.task_type %></p>

<% end %>
