<h1>投稿用ページ</h1>

<%= form_for @post,url:posts_create_path do |f| %>
  <p><%= f.label :task1, "task1" %>
     <%= f.text_field :task1 %>
  </p>

  <p><%= f.label :task2, "task2" %>
     <%= f.text_field :task2 %>
  </p>

  <p><%= f.label :task3, "task3" %>
     <%= f.text_field :task3 %>
  </p>

  <p><%= f.label :task4, "task4" %>
     <%= f.text_field :task4 %>
  </p>

  <p><%= f.label :task5, "task5" %>
     <%= f.text_field :task5 %>
  </p>

  <%= f.select :task_type, [["簡単", "簡単"],  ["難しい", "難しい"], ["短時間", "短時間"],["長時間", "長時間"], ["a", "a"] ], :prompt => "選択してください"%>

  <div class="deadline">
  <%= f.label :deadline, "締め切り" %>
  <%= raw sprintf(
              f.date_select(
                  :deadline,
                  use_month_numbers: true,
                  start_year:        2020,
                  default:           Date.today,
                  date_separator:    '%s'),
              '年 ', '月 ') + '日'
   %>
  </div>


  <%= f.submit "投稿" %>
<% end %>
