<h1>投稿詳細ページです</h1>
<%= link_to(@user.name , "/users/#{@user.id}") %>
<%= @post.content %>
<%= @post.task1 %>
<%= @post.task2 %>
<%= @post.task3 %>
<%= @post.task4 %>
<%= @post.task5 %>
<%= @post.created_at %>
<%= @post.task_type %>
<% if @post.user_id == @current_user.id %>
  <%= link_to("編集" , "/posts/#{@post.id}/edit") %>
  <%= link_to("削除" , "/posts/#{@post.id}/destroy" , {method: "post"}) %>
<% end %>
