<h1>投稿詳細ページです</h1>
<%= link_to(@user.name , "/users/#{@user.id}") %>
<%= @post.task %>
<%= @post.created_at %>
<%= @post.task_type %>
<p>
<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <%= link_to 'ダウンロード', rails_blob_path(image, disposition: "attachment") %>
    <%= link_to 'ファイルを見る', url_for(image) %>
    <p><%= link_to image_tag(image.variant(resize: '1000x1000').processed), url_for(image) %></p> <br>
  <% end %>
<% end %>
</p>
<% if @post.user_id == @current_user.id %>
<%= link_to("編集" , "/posts/#{@post.id}/edit", id: @post.id) %>
<%= link_to("削除" , "/posts/#{@post.id}/destroy" , {method: "post"}) %>
<% end %>
