<!DOCTYPE html>
<html>
<head>
  <title>Leave it.</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'iscroll' %>
  <%= javascript_pack_tag 'drawer' %>
  <!-- drawer.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="drawer drawer–-right">
  <div class="container">
    <header class="drawer-navbar" role="banner">
      <div class="header_logo">
        <% if @current_user %>
          <%= link_to("Leave it." , "/posts/index")  %>
          <%= yield :header %>
        <% else %>
          <%= link_to("Leave it." , "/") %>
        <% end %>
      </div>
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
      <nav class="drawer-nav" role="navigation">
        <ul class="drawer-menu drawer-menu--right">
          <% if @current_user %>
            <li><%= link_to @current_user.name , "/users/#{@current_user.id}", class: 'drawer-menu-item' %></li>
            <li><%= link_to "投稿一覧" , "/posts/index", class: 'drawer-menu-item' %></li>
            <li><%= link_to "新規投稿" , "/posts/new", class: 'drawer-menu-item' %></li>
            <li><%= link_to "ログアウト" , "/logout" , method: :post, class: 'drawer-menu-item' %></li>
          <% else %>
            <li><%= link_to "ログイン" , "/login", class: 'drawer-menu-item' %></li>
            <li><%= link_to "新規登録" , "/users/new", class: 'drawer-menu-item'%></li>
            <li><%= link_to "Leave it.とは" , "/about", class: 'drawer-menu-item' %></li>
          <% end %>
        </ul>
      </nav>
    </header>
  </div>
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>
  <%= yield %>
</body>
</html>
